<h1>Patients</h1>

<table border = 1>
  <tr>
    <th>Patients</th>
    <th>#</th>
  </tr>
  <% @patients.each do |patient| %>
  <tr>
    <td><%= patient.name %></td>
    <td><%= patient.id %></td>
  </tr>
<% end %>
</table>



<%= link_to "Log out", log_out_path %>

